/* NAVIGATION,

de adaugat - shadow efect pe butoane (hover ? )
*/
.main-nav{
    display: flex;
    list-style: none;
    font-size: 0.5 em;
    margin: 0;
    background: #093E5C;
    font-family: Arial;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5 em;
        padding: 0;
    }
}

li {
    padding: 20px;
}

a   {
    color: white;
    text-decoration: none;
}

body    {
    margin: auto 0;
    background: #658BA1
}

.push {
    margin-left: auto;
}

/* .sticky {
    position: fixed;
    top: 0%;
    width: 100%;
} */

/*CSS pentru cover red zone*/


.grid-wrapper {
    display: grid;
    display: flex;
    flex-direction: column;
    background: #658BA1;
    height: auto;
    flex: 600px 0 1;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
    grid-template-columns: 500px;
    margin: 0px;
    padding-top: 2vh;
}

button {
  width: 20rem;
  background-color: #093E5C; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}


footer {
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding-top: 5px;
}

footer p {
    padding: 15xp;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 15px;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background: #658BA1;
  color: white;
}

.container {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.results__heading {
      font-size: 110%;
      justify-content: center;
    }
    
.results__display-wrapper {
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      background: color-lightest;
      border: 1px solid color-gray-light;
      overflow-x: scroll;
      width: 50%;
    }
  